/* Photo 6 - Bottom right: no words */
@media screen and (max-width: 600px) {
	.ralphy {
		width: 250px;
		height: 186.67px;
		background:url(ralphy.gif) -250px -373.34px;
	}
}

/* Photo 5 - Bottom left: Watch this, Lise... */
@media screen and (min-width: 601px) {
	.ralphy {
		width: 250px;
		height: 186.67px;
		background:url(ralphy.gif) 0px -373.34px;
	}
}

/* Photo 4 - Middle right: And the only reason I gave you... */
@media screen and (min-width: 801px) {
	.ralphy {
		width: 250px;
		height: 186.67px;
		background:url(ralphy.gif) -250px -186.67px;
	}
}

/* Photo 3 - Middle left: Now you listen to me! */
@media screen and (min-width: 1001px) {
	.ralphy {
		width: 250px;
		height: 186.67px;
		background:url(ralphy.gif) 0px -186.67px;
	}
}

/* Photo 2 - Top right: No ooo */
@media screen and (min-width: 1201px) {
	.ralphy {
		width: 250px;
		height: 186.67px;
		background:url(ralphy.gif) -250px 0px;
	}
}

/* Photo 1 - Top left: yes. I love lisa simpson */
@media screen and (min-width: 1401px) {
	.ralphy {
		width: 250px;
		height: 186.67px;
		background:url(ralphy.gif) 0px 0px;
	}
}
